/* ========
*  UI Style *
=========== */


/* Colors */


/* Icon */

.icons-item-wrapper::after {
    content: "";
    flex: auto;
}

.icons-item {
    font-size: 12px;
    width: 100px;
    height: 80px;
    margin-left: 17px;
    margin-bottom: 15px;
}

.icons-item i {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 10px;
}


/* Alert */


/* Floating Buttons */

.btn-float {
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    position: fixed;
}

.btn-float,
.btn-float-menu .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-radius: 50px;
    padding: 0;
}

.btn-float i {
    font-size: 2rem !important;
}

.btn-float-menu {
    position: fixed;
    right: 40px;
    bottom: 80px;
    margin: 0;
    padding: 0;
    width: 50px;
    padding-bottom: 20px;
    z-index: 100;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.btn-float-menu .btn {
    width: 40px;
    height: 40px;
    margin-bottom: -50px;
    transition: all .4s ease-in-out;
}

.btn-float-menu .btn i {
    font-size: 1.2rem;
}

.btn-float-group.active .btn-float-menu {
    visibility: visible !important;
    opacity: 1 !important;
    transition: all 0.4s ease-in-out;
}

.btn-float-group.active .btn-float-menu .btn {
    margin-bottom: 10px;
}

.btn-float-menu .btn i {
    animation: rotate-in 0.5s;
}

.btn-float-menu .btn:hover>i {
    animation: rotate-out 0.5s;
}

@keyframes rotate-in {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-out {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}


/* Divider */

.divider {
    position: relative;
}

.divider::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dddddd;
}

.divider span {
    position: relative;
    background: #ffffff;
    padding: 0 10px;
    z-index: 2;
}

.divider-center {
    text-align: center;
}


/* Avatar */

.avatar .avatar-content,
.avatar img {
    border-radius: 50%;
}

.avatar.avatar-sm .avatar-content,
.avatar.avatar-sm img {
    width: 40px;
    height: 40px;
    font-size: 1rem;
}

.avatar.avatar-md .avatar-content,
.avatar.avatar-md img {
    width: 60px;
    height: 60px;
    font-size: 1.8rem;
}

.avatar.avatar-lg .avatar-content,
.avatar.avatar-lg img {
    width: 80px;
    height: 80px;
    font-size: 2.8rem;
}

.avatar.avatar-xl .avatar-content,
.avatar.avatar-xl img {
    width: 100px;
    height: 100px;
    font-size: 3.5rem;
}

.avatar .avatar-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Carousel */

.carousel-inner {
    border-radius: 8px;
}

.round li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.long li {
    width: 30px;
    height: 6px;
    border-top: 0;
    border-bottom: 0;
    border-radius: 3px;
}

.long li.active {
    width: 6px;
    height: 6px;
    border-top: 0;
    border-bottom: 0;
    border-radius: 3px;
}

.arrowsLeft {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #333333;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    margin-left: 10px;
}

.arrowsRight {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #333333;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    margin-right: 10px;
}

.carousel-indicators img {
    display: block;
    width: 100px;
    border-radius: 6px;
    margin-top: 20px;
    opacity: 0.5;
}

.carousel-indicators img.active {
    border: 1px solid #FF6C4C;
}


/* breadcrumb */

.breadcrumb-content a {
    text-decoration: none;
}

.breadcrumb .breadcrumb-content {
    padding: 5px 10px 0 10px;
}

.breadcrumb-item-content-block.active {
    background-color: rgb(254, 108, 76);
    color: #FFF;
    border-radius: 4px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 2px;
    padding-top: 2px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.line {
    color: #E0E0E0;
    font-size: 1.5rem;
    position: relative;
    top: -3px;
    margin-left: 20px;
    margin-right: 20px;
}

.breadcrumb.rounded-pill.breadcrumb-divider .breadcrumb-item.active {
    border-radius: 50rem;
}

.breadcrumb-item-content-round.active {
    background-color: rgb(254, 108, 76);
    color: #FFF;
    border-radius: 20px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 2px;
    padding-top: 2px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.breadcrumb.rounded-pill {
    background-color: #FFF;
    box-shadow: 3px 3px 14px 0 rgba(0, 0, 0, .12);
}


/* list group */

.list-group-flush i.active {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.list-group-flush i {
    background-color: rgba(0, 0, 0, .12);
    border-radius: 50px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}


/* media objects */

.media img {
    border-radius: 4px;
}

.media h5,
.media p {
    color: rgb(101, 121, 144);
}


/* toast */

.basic-toast .toast {
    margin-top: 90px;
    margin-right: 20px;
    z-index: 1;
}

.placement-toast .toast {
    margin-right: 30%;
    margin-top: 90px;
    z-index: 1;
}

.toast .toast-header .close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 1;
    color: #475F7B;
    background-color: #F2F4F4;
    margin-left: 10px;
}


/* modals */

.modal-body,
.modal-title {
    color: #475F7B;
}


/* navs */

.lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
    background: none;
    color: #555;
    border-color: #2b90d9;
}

.with-arrow .nav-link.active {
    position: relative;
}

.with-arrow .nav-link.active::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2b90d9;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}


/* grid */

.demo-content {
    padding: 15px;
    font-size: 18px;
    background: #dbdfe5;
    margin-bottom: 15px;
}

.demo-content.bg-alt {
    background: #abb1b8;
}

.row-six {
    margin-top: 1rem;
    background: #dbdfe5;
}

.example-grid {
    padding: 10px 15px;
    background: #abb1b8;
    border: 1px solid rgba(0, 0, 0, 0.5)
}

.row-seven {
    min-height: 10rem;
    margin-top: 1rem;
    background: #dbdfe5;
}

.row-example {
    margin-top: 1rem;
    background: #dbdfe5;
}


/* typhography */

.text-bold-300 {
    font-weight: 300;
}

.text-bold-600 {
    font-weight: 600;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-bottom: 2px solid #eee;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.blockquote {
    font-size: 1rem;
    margin-left: 20px;
}

.border-left-primary {
    border-left: 1px solid #5A8DEE;
}

.border-left-3 {
    border-left-width: 3px!important;
}

.pl-1,
.px-1 {
    padding-left: 1rem!important;
}

.img-xl {
    width: 64px!important;
    height: 64px!important;
}


/* flex */

.example-flex {
    padding: 10px 15px;
    color: #212529;
    font-size: 15px;
    background: #E6E2EB;
    border: 1px solid rgba(0, 0, 0, 0.5)
}

.row-flex-example {
    margin-top: 1rem;
    background: #dbdfe5;
}

.example-flex-align {
    min-height: 1rem;
    margin-top: 1rem;
    background: #dbdfe5;
}


/* avatar icon badge */

.badge.badge-up {
    position: absolute;
    margin-top: -45px !important;
    margin-left: 25px !important;
}

.badge.badge-round {
    margin-top: -30px;
    padding: .28rem .4rem;
}

.avatar .avatar-status-online {
    background-color: #39DA8A;
}

.avatar .avatar-status-offline {
    background-color: #475F7B;
}

.avatar .avatar-status-away {
    background-color: #FDAC41;
}

.avatar .avatar-status-busy {
    background-color: #FF5B5C;
}

.avatar [class*=avatar-status-] {
    border-radius: 50%;
    width: 11px;
    height: 11px;
    position: absolute;
    margin-top: -10px !important;
    margin-left: 25px !important;
    border: 1px solid #FFF;
}


/* divider */

.divider {
    display: block;
    text-align: center;
    overflow: hidden;
    margin: 1rem 0;
}

.divider .divider-text {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    padding: 0 1rem;
    background-color: #FFF;
}

.dotted {
    border-top: 2px dotted #8c8b8b;
}

.dashed {
    border-top: 2px dashed #8c8b8b;
}

.solid {
    border-top: 2px solid #8c8b8b;
}

.divider.divider-left-center .divider-text {
    left: -25%;
}

.divider.divider-right-center .divider-text {
    right: -25%;
}

.divider.divider-left .divider-text {
    float: left;
    padding-left: 0;
}

.divider.divider-right .divider-text {
    float: right;
    padding-right: 0;
}


/* chips */

.chip {
    background-color: #F0F0F0;
    font-size: .8rem;
    border-radius: 1.428rem;
    display: inline-flex;
    padding: 0 10px;
    margin-bottom: 5px;
    -webkit-box-pack: center;
    justify-content: center;
}

.chip .chip-body {
    color: rgba(0, 0, 0, .7);
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 1.857rem;
    min-width: 1.857rem;
}

.chip .chip-body .chip-text {
    vertical-align: middle;
    align-self: center;
}

.chip .chip-body .avatar {
    background-color: #C3C3C3;
    display: flex;
    margin: 2px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF;
    transform: translate(-8px);
}

.chip .chip-body .avatar,
.chip .chip-body .avatar img {
    height: 26px;
    width: 26px;
    border-radius: 50%;
}

.avatar,
.chip {
    vertical-align: middle;
}

.chip .chip-body .chip-closeable {
    min-height: 24px;
    min-width: 24px;
    margin: 0 4px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    align-self: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, .15);
    color: #FFF;
    transform: translate(10px);
    cursor: pointer;
}

.chip-primary {
    background-color: #5A8DEE!important;
}

.chip-success {
    background-color: #39DA8A!important;
}

.chip-info {
    background-color: #00CFDD!important;
}

.chip-warning {
    background-color: #FDAC41!important;
}

.chip-danger {
    background-color: #FF5B5C!important;
}


/* input */

.round {
    border-radius: 1.5rem;
}

.form-control:focus {
    border-color: #00aeff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 2px 4px 8px rgba(150, 150, 150, 0.5);
}

.has-icon-left .form-control {
    padding-right: 1.6rem;
    padding-left: 2.5rem;
}

.has-icon-left .form-control-position {
    right: auto;
}

.form-control-position {
    position: absolute;
    top: 2px;
    right: 0;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: rgba(0, 0, 0, .4);
}

.needs-validation .valid-tooltip {
    color: #39DA8A;
    margin-top: .5rem;
}

.valid-tooltip {
    display: none;
    padding: .267rem .867rem;
    margin-top: .1rem;
    font-size: .8rem;
    color: #324356;
    background-color: rgba(57, 218, 138, .2);
}

.invalid-tooltip,
.valid-tooltip {
    position: absolute;
    z-index: 5;
    max-width: 100%;
    line-height: 1.4;
    border-radius: .267rem;
    top: 100%;
}


/* input group */


/* number input */

.number-spinner.input-group .input-group-btn .btn {
    padding: .2rem 1rem;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle),
.input-group>.input-group-append:last-child>.input-group-text:not(:last-child),
.input-group>.input-group-append:not(:last-child)>.btn,
.input-group>.input-group-append:not(:last-child)>.input-group-text,
.input-group>.input-group-prepend>.btn,
.input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-append .btn,
.input-group-prepend .btn {
    position: relative;
    z-index: 2;
}

.bootstrap-touchspin.input-group.disabled-touchspin input {
    border: 1px solid #F2F4F4!important;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group-append,
.input-group-prepend {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.disabled-touchspin {
    pointer-events: none;
}


/* text area */

.counter-value {
    color: #FFF;
    padding: 1px 6px;
    font-size: .6rem;
    border-radius: 0 0 5px 5px;
    margin-right: 1rem;
}

.counter-value,
.custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: #5A8DEE;
}

.form-label-group textarea:not(:focus):not(:placeholder-shown)~label,
.form-label-group>input:not(:focus):not(:placeholder-shown)~label {
    color: #475F7B!important;
}

.form-label-group textarea:focus:not(:placeholder-shown)~label,
.form-label-group textarea:not(:active):not(:placeholder-shown)~label,
.form-label-group>input:focus:not(:placeholder-shown)~label,
.form-label-group>input:not(:active):not(:placeholder-shown)~label {
    color: #5A8DEE!important;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    opacity: 1;
}

.form-label-group textarea:not(:placeholder-shown)~label,
.form-label-group>input:not(:placeholder-shown)~label {
    padding: .25rem 0;
    font-size: .7rem;
    top: -20px;
    left: 15px;
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    padding: .6rem;
    color: #475F7B;
    font-size: .85rem;
    opacity: 0;
}


/* checkbox */

.checkbox {
    position: relative;
    display: inline-block;
}

input[type=checkbox].bg-secondary+.custom-control-label:before,
input[type=radio].bg-secondary+.custom-control-label:before {
    background-color: #475F7B!important;
    border-color: #34465B!important;
}

input[type=checkbox].bg-success+.custom-control-label:before,
input[type=radio].bg-success+.custom-control-label:before {
    background-color: #39DA8A!important;
    border-color: #23BD70!important;
}

input[type=checkbox].bg-danger+.custom-control-label:before,
input[type=radio].bg-danger+.custom-control-label:before {
    background-color: #FF5B5C!important;
    border-color: #FF2829!important;
}

input[type=checkbox].bg-info+.custom-control-label:before,
input[type=radio].bg-info+.custom-control-label:before {
    background-color: #00CFDD!important;
    border-color: #009FAA!important;
}

input[type=checkbox].bg-warning+.custom-control-label:before,
input[type=radio].bg-warning+.custom-control-label:before {
    background-color: #FDAC41!important;
    border-color: #FC960F!important;
}

.checkbox label {
    margin-left: 1.75rem;
    margin-bottom: 0;
}

.checkbox label,
.custom-checkbox label,
.custom-radio label {
    font-size: 1rem;
    text-transform: none;
}

.checkbox input[type=checkbox],
.radio input[type=radio] {
    display: none;
}

.checkbox.checkbox-primary input:checked~label::before,
.checkbox.radio-primary input:checked~label::before,
.radio.checkbox-primary input:checked~label::before,
.radio.radio-primary input:checked~label::before {
    background-color: #5A8DEE;
    border-color: #5A8DEE;
    box-shadow: 0 0 6px 0 rgba(90, 141, 238, .7);
}

.checkbox.checkbox-secondary input:checked~label::before,
.checkbox.radio-secondary input:checked~label::before,
.radio.checkbox-secondary input:checked~label::before,
.radio.radio-secondary input:checked~label::before {
    background-color: #475F7B;
    border-color: #475F7B;
    box-shadow: 0 0 6px 0 rgba(71, 95, 123, .7);
}

.checkbox.checkbox-success input:checked~label::before,
.checkbox.radio-success input:checked~label::before,
.radio.checkbox-success input:checked~label::before,
.radio.radio-success input:checked~label::before {
    background-color: #39DA8A;
    border-color: #39DA8A;
    box-shadow: 0 0 6px 0 rgba(57, 218, 138, .7)
}

.checkbox.checkbox-danger input:checked~label::before,
.checkbox.radio-danger input:checked~label::before,
.radio.checkbox-danger input:checked~label::before,
.radio.radio-danger input:checked~label::before {
    background-color: #FF5B5C;
    border-color: #FF5B5C;
    box-shadow: 0 0 6px 0 rgba(255, 91, 92, .7);
}

.checkbox.checkbox-info input:checked~label::before,
.checkbox.radio-info input:checked~label::before,
.radio.checkbox-info input:checked~label::before,
.radio.radio-info input:checked~label::before {
    background-color: #00CFDD;
    border-color: #00CFDD;
    box-shadow: 0 0 6px 0 rgba(0, 207, 221, .7);
}

.checkbox.checkbox-warning input:checked~label::before,
.checkbox.radio-warning input:checked~label::before,
.radio.checkbox-warning input:checked~label::before,
.radio.radio-warning input:checked~label::before {
    background-color: #FDAC41;
    border-color: #FDAC41;
    box-shadow: 0 0 6px 0 rgba(253, 172, 65, .7);
}

.checkbox input:checked~label:before {
    background-color: #FFF;
    border: 1px solid #DFE3E7;
}

.checkbox label:before {
    content: '';
    border-radius: 4px;
}

.checkbox label:after,
.checkbox label:before {
    height: 20px;
    width: 20px;
    top: 0;
    left: 0;
    position: absolute;
}

.checkbox.checkbox-primary input:checked~label::after,
.checkbox.radio-primary input:checked~label::after,
.radio.checkbox-primary input:checked~label::after,
.radio.radio-primary input:checked~label::after {
    border-color: #FFF;
}

.checkbox.checkbox-secondary input:checked~label::after,
.checkbox.radio-secondary input:checked~label::after,
.radio.checkbox-secondary input:checked~label::after,
.radio.radio-secondary input:checked~label::after {
    border-color: #FFF;
}

.checkbox.checkbox-success input:checked~label::after,
.checkbox.radio-success input:checked~label::after,
.radio.checkbox-success input:checked~label::after,
.radio.radio-success input:checked~label::after {
    border-color: #FFF;
}

.checkbox.checkbox-danger input:checked~label::after,
.checkbox.radio-danger input:checked~label::after,
.radio.checkbox-danger input:checked~label::after,
.radio.radio-danger input:checked~label::after {
    border-color: #FFF;
}

.checkbox.checkbox-info input:checked~label::after,
.checkbox.radio-info input:checked~label::after,
.radio.checkbox-info input:checked~label::after,
.radio.radio-info input:checked~label::after {
    border-color: #FFF;
}

.checkbox.checkbox-warning input:checked~label::after,
.checkbox.radio-warning input:checked~label::after,
.radio.checkbox-warning input:checked~label::after,
.radio.radio-warning input:checked~label::after {
    border-color: #FFF;
}

.checkbox input:checked~label:after {
    border-top-style: none;
    border-right-style: none;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .4rem;
    width: .8rem;
    border-color: #5A8DEE;
    border-radius: 0;
    border-width: 2px;
    top: 6px;
    left: 4px;
}

.checkbox.checkbox-primary label:after {
    -webkit-transition: 250ms ease-in-out;
    transition: 250ms ease-in-out;
}

.checkbox label:after {
    content: ' ';
    border: 1px solid #DFE3E7;
    border-radius: 4px;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.checkbox.checkbox-shadow input:checked~label::before {
    box-shadow: 0 0 6px 0 rgba(22, 22, 22, .2);
}

.checkbox input:disabled~label::before {
    background-color: #F2F4F4!important;
    border-color: #DFE3E7!important;
    box-shadow: none!important;
}

.checkbox input:disabled~label::after {
    border-color: #B3C0CE!important;
}

.checkbox.checkbox-sm label::after,
.checkbox.checkbox-sm label::before {
    width: 15px;
    height: 15px;
    top: 3px;
}

.checkbox.checkbox-sm input:checked~label:after {
    height: 5px;
    width: 8px;
    top: 7px;
}


/* select */

.select2-container--classic .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #5A8DEE!important;
    border-color: transparent!important;
    color: #FFF!important;
    padding: .2rem .6rem;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 0;
    color: #FFF!important;
    float: right;
    margin-left: .3rem;
    border-right: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    background-color: transparent !important;
}


/* switch */

.custom-switch .custom-control-label {
    height: 20px;
    width: 10px;
    padding: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #FFF;
    border-color: #5A8DEE;
    background-color: #5A8DEE;
}

.custom-switch .custom-control-label::before {
    border: none;
    background-color: #E7EDF3;
    height: 20px;
    transition: all .25s ease;
    user-select: none;
    top: 0;
}

.custom-switch .custom-control-label::before,
.custom-switch .custom-control-label:after {
    box-shadow: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.custom-switch .custom-control-label::before {
    width: 2.75rem;
    pointer-events: all;
    border-radius: .8rem;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    -ms-transform: translateX(1.4rem);
    transform: translateX(1.4rem);
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #FFF;
}

.custom-switch .custom-control-label:after {
    position: absolute;
    top: 1px;
    transition: all .25s ease;
    user-select: none;
}

.custom-switch .custom-control-label::before,
.custom-switch .custom-control-label:after {
    box-shadow: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.custom-switch .custom-control-label::after {
    width: 18px;
    height: 18px;
    border-radius: .8rem;
}

.custom-control-input-success:checked~.custom-control-label::before {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.custom-control-input-danger:checked~.custom-control-label::before {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.custom-control-input-warning:checked~.custom-control-label::before {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.custom-control-input-info:checked~.custom-control-label::before {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.custom-control-input-dark:checked~.custom-control-label::before {
    background-color: #394C62 !important;
    border-color: #394C62 !important;
}

.custom-switch .custom-control-label .switch-icon-left i,
.custom-switch .custom-control-label .switch-icon-right i,
.radio label {
    font-size: 1rem;
}

.custom-switch .custom-control-label .switch-icon-left {
    left: 5px;
    color: #FFF;
}

.custom-switch .custom-control-label .switch-icon-left,
.custom-switch .custom-control-label .switch-icon-right {
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 2px;
}

.custom-switch .custom-control-label .switch-icon-left i,
.custom-switch .custom-control-label .switch-icon-right i,
.radio label {
    font-size: 1rem;
}

.custom-switch .custom-control-label .switch-icon-right {
    right: 5px;
}

.custom-switch .custom-control-label .switch-icon-left,
.custom-switch .custom-control-label .switch-icon-right {
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 2px;
}


/* form layouts */

.form-label-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-label-group textarea:not(:focus):not(:placeholder-shown)~label,
.form-label-group>input:not(:focus):not(:placeholder-shown)~label {
    color: #475F7B!important;
}

.form-label-group textarea:focus:not(:placeholder-shown)~label,
.form-label-group textarea:not(:active):not(:placeholder-shown)~label,
.form-label-group>input:focus:not(:placeholder-shown)~label,
.form-label-group>input:not(:active):not(:placeholder-shown)~label {
    transition: all .25s ease-in-out;
    opacity: 1;
}

.form-label-group textarea:not(:placeholder-shown)~label,
.form-label-group>input:not(:placeholder-shown)~label {
    padding: .25rem 0;
    font-size: .7rem;
    top: -20px;
    left: 3px;
}


/* bootstrap table */

.table td a .badge-circle {
    margin-bottom: -7px;
    margin-top: -7px;
}

.table.table-dark i {
    color: #FFF;
    background-color: rgba(255, 255, 255, .09);
}

.badge-circle-white,
.badge.badge-white {
    background-color: #FFF;
}

.badge-circle-light-secondary {
    background-color: #E6EAEE;
    color: #475F7B;
}

.badge-circle {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.table-light,
.table-light>td,
.table-light>th {
    background-color: #E5E9ED;
}


/* data table */

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

.btn-addRow {
    margin-bottom: 10px;
    color: white !important;
    background-color: #5A8DEE;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .2);
}

.btn-addRow:hover {
    background-color: #5d94fa;
}

button.dt-button,
div.dt-button,
a.dt-button {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .2);
    border: transparent !important;
}


/* file upload */

.box {
    position: relative;
    background: #ffffff;
    width: 100%;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
}

.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 150px;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40%;
    top: 50px;
    font-size: 16px;
}

.dropzone,
.dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
    background: #ecf0f5;
}

.preview-zone {
    text-align: center;
}

.preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.bg-rgba-warning.alert,
.bg-rgba-warning.alert.alert-dismissible .close {
    color: #FDAC41;
}

.bg-rgba-warning {
    background: rgba(253, 172, 65, .2)!important;
}

.bg-rgba-primary.alert,
.bg-rgba-primary.alert.alert-dismissible .close {
    color: #5A8DEE;
}

.bg-rgba-primary {
    background: rgba(90, 141, 238, .2)!important;
}


/* summernote */

.note-editable {
    height: 300px;
}


/* invoice */

.invoice-view-wrapper .invoice-subtotal .invoice-calc .invoice-title {
    width: 171px;
}


/* charts */

#chart {
    max-width: 650px;
    margin: 35px auto;
}

#chart-bar {
    position: relative;
    margin-top: -38px;
}

#timeline-chart .apexcharts-toolbar {
    opacity: 1;
    border: 0;
}


/* map */

#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}


/* profile */


/* user setting */

.nav.nav-pills .nav-item .nav-link.active {
    box-shadow: 0 2px 4px 0 rgba(90, 141, 238, .5);
}

.nav.nav-pills .nav-item .nav-link,
.nav.nav-pills .nav-item.dropdown.show .dropdown-menu,
.nav.nav-tabs .nav-item .nav-link,
.nav.nav-tabs .nav-item.dropdown.show .dropdown-menu {
    border-radius: .267rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #FFF;
    background-color: #5A8DEE;
}

.nav-pills .nav-link,
.nav-tabs .nav-link {
    color: #475F7B;
}

.datepicker td,
.datepicker th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.85rem;
}


/* table bootstrap*/

.bold-blue {
    font-weight: bold;
    color: #0277BD;
}


/* step and wizard */

.steps .step {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    text-align: center
}

.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 3px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1
}

.steps .step .step-icon-wrap::before {
    left: 0
}

.steps .step .step-icon-wrap::after {
    right: 0
}

.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    font-size: 38px;
    line-height: 81px;
    z-index: 5
}

.steps .step .step-title {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 14px;
    font-weight: 500
}

.steps .step:first-child .step-icon-wrap::before {
    display: none
}

.steps .step:last-child .step-icon-wrap::after {
    display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #0da9ef
}

.steps .step.completed .step-icon {
    border-color: #0da9ef;
    background-color: #0da9ef;
    color: #fff
}


/* empty */

.pops {
    animation: pulse 0.75s both;
}

.empty-state {
    color: #3F3F3F;
    display: grid;
    align-content: center;
    justify-content: center;
    width: calc(100vw - 2px);
    height: calc(100vh - 100px);
    text-align: center;
}

.empty-state-inner {
    max-width: 360px;
    width: 100%;
}

.empty-state-details p {
    color: #3F3F3F;
    font-weight: 400;
    opacity: 0.75;
    margin-bottom: 24px;
}

.empty-state-details .button {
    outline: none;
    background: #239EDB;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.empty {
    width: 100%;
    height: 100%;
}

.svg-state {
    width: 70%;
    height: 200px;
    margin: 10px 15%;
    padding-top: 100px;
}

.emptyState {
    font-family: "Fira Sans", Tahoma, sans-serif;
    color: #333;
    display: grid;
    grid-auto-columns: 1fr;
    grid-gap: 24px;
    max-width: 400px;
    margin: 12px auto;
    text-align: center;
}

.illustration {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.illustration svg {
    max-width: 100%;
    height: auto;
}

.text h3 {
    font-size: 32px;
    font-weight: normal;
    color: #666;
    margin: 0;
}

.text p {
    margin: 0;
}

.ctaButton {
    background: white;
    border: 2px solid lightgrey;
    color: inherit;
    padding: 8px 16px;
    font-family: inherit;
    font-size: 1em;
    border-radius: 3px;
}


/* scroll */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(247, 247, 247, 0.11);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
    background-color: #bebebe;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    width: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(247, 247, 247, 0.3);
    background-color: #7a7a7a;
}